footer{
    background-color: rgb(25, 35, 45);
    padding-bottom: 10px;
    border-top: rgb(0, 100, 100) solid 1px;
}
.footer-title{
    margin-left: 20px;
}
.footer-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.footer-list li{
    border-bottom: 2px solid rgb(0, 100, 100);
    font-weight: bold;
    width: 18vw;
    margin: 10px 30px 0 30px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 200ms linear, border-radius 200ms linear, padding 100ms linear;
}
.footer-list a{
    text-decoration: none;
    color: white;
}
.footer-list li:hover{
    background-color: rgb(50,60,70);
    border-radius: 50px;
    padding: 0 2px 0 15px;
}

.f-list-item{
    font:700 1.2rem "Cairo";
}

.footer-list .arrow-r{
    width: 40px;
    margin: 0 ;
}

.socials-list li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
}
.socials-list li img{
    margin-right: 10px;
}

@media only screen and (max-width: 800px){
    .footer{justify-content: left;width: 100%;}
    .footer-list{display: block;}
    .footer-list li{width: 80vw;}
}